<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrepPal"
        tools:targetApi="31" >

        <!-- Shared Activities -->
        <!-- Login Activity -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity android:name=".ui.auth.RegisterActivity" android:exported="true">
        </activity>

        <!-- Student's Activity -->
        <!-- Main Activity (Home Screen) -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- Student chooses band -->
        <activity android:name=".ui.choose_band.ChooseBandActivity" android:exported="true">
        </activity>

        <!-- List of courses -->
        <activity android:name=".ui.course.CourseListActivity" android:exported="true">
        </activity>

        <activity android:name=".ui.course_payment.CoursePaymentActivity" android:exported="true">
        </activity>

        <activity
            android:name=".ui.admin.AdminMainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity android:name=".ui.course.CourseDetailActivity"/>

        <activity android:name=".ui.profile.ProfileActivity" android:exported="true">
        </activity>
        <activity
            android:name=".ui.test.WritingTopicsActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity android:name=".ui.test.WritingTestActivity"/>
        <activity android:name=".ui.profile.AccountInformationActivity"/>
        <activity android:name=".ui.profile.CourseInfoActivity"/>

        <!-- Lessons -->
        <activity android:name=".ui.lesson.LessonPDFDetailActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.lesson.LessonVideoActivity"
            android:exported="true">
        </activity>

        <!--    Quizs    -->
        <activity
            android:name=".ui.quiz.multiple_choice_quiz.MultipleChoiceActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.quiz.writing_quiz.WritingQuizActivity"
            android:exported="true">

        </activity>
        <!--    Quiz Answer    -->
        <activity
            android:name=".ui.quiz.multiple_choice_quiz.MultipleChoiceAnswerActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.dictionary.DictionaryActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.vocabulary.FlashcardActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.vocabulary.TopicActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ui.grading.GradingTestActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".ui.grading.WritingAnswerListActivity"/>
        <activity android:name=".ui.grading.GradingWritingTestActivity"/>
        <!--     Teacher   -->
        <activity
            android:name=".ui.TeacherMainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.profile.teacher.TeacherProfileActivity"
            android:exported="true">
        </activity>
        <!--    Speaking    -->
        <activity
            android:name=".ui.video_call.VideoCallActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.quiz.speaking.SpeakingBookingActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.quiz.speaking.SpeakingWaitingActivity"
            android:exported="true">
        </activity>

        <activity android:name=".ui.admin.ManageTeachersActivity"/>
        <activity android:name=".ui.admin.AddNewTeacherActivity"/>
        <activity android:name=".ui.test_set.TestListActivity"/>
        <activity android:name=".ui.test_set.TestSetListActivity"/>
        <activity android:name=".ui.test_set.listening.ListeningActivity"/>
        <activity android:name=".ui.test_set.reading.ReadingActivity"/>
        <activity android:name=".ui.test_set.writing.WritingActivity"/>
        <activity android:name=".ui.test_set.speaking.SpeakingActivity"/>
    </application>
</manifest>